.ant-row{
    flex-flow: column;
}
.ant-col{
    padding: 10px 3%;
    margin: 0 !important;
}
.ant-col h3{
    margin-bottom: 30px;
}
.download{
    display: flex;
    justify-content: right;
    margin-top: 40px;
}
@media (min-width:900px){
    .ant-row{
        flex-flow: row;
    }
    .ant-col{
        width: 100%;
        
    }
}

.ant-col ant-col-24{
    background-color: transparent;
}