.title{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 24px;
    color: rgb(50 50 50);
    margin: 0;

}

.ant-col ant-col-24{
    background-color: transparent;
}

h1{
    margin-bottom: 10px;
}